

<div class="container w-100 h-250 d-flex flex-column">
    <h3>Sobre Nós</h3>
    <div class="d-flex w-100 justify-content-around">
        <img src="~/nova pasta/logo.png" />
        <p>
            Bem-vindo ao nosso site! Somos uma plataforma dedicada a oferecer cursos de alta qualidade,
            com o objetivo de transformar a maneira como você aprende e se desenvolve.
            Nossa missão é proporcionar educação acessível e relevante, capacitando nossos alunos a
            alcançarem suas metas pessoais e profissionais.
        </p>
    </div>

 

    
<h4 class="text-center">Nossas Missões</h4>
    <div class="d-flex w-100 justify-content-around">
        <p>
            Nossa missão é democratizar o acesso à educação de qualidade, oferecendo cursos que inspirem
            e capacitem indivíduos a alcançar seu potencial máximo.Trabalhamos para criar um ambiente
            de aprendizado inclusivo e estimulante,  onde todos possam desenvolver habilidades essenciais para o sucesso..
        </p>
     </div>


    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="500">
                <img src="~/Nova pasta/istockphoto-1443560890-612x612.jpg" class="d-block w-100 " alt="Imagem carrosel">
            </div>
            <div class="carousel-item" data-bs-interval="500">
                <img src="~/Nova pasta/istockphoto-1413872236-612x612.jpg" class="d-block w-100" alt="imagem carrosel">
            </div>
            <div class="carousel-item" data-bs-interval="500">
                <img src="~/Nova pasta/istockphoto-1453969173-612x612.jpg" class="d-block w-100" alt="imagem carrosel">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
    

<style>
    .carousel-inner {
        margin-left:auto;
        margin-right:auto;
        height: 450px;
        width: 900px;
    }
    
    .carousel slide{
        width: 1500px;
    }

    .carousel-item active{
        width: 1900px;
    }        
    .carousel-item{
        width: 1000px;
    }
</style>
