@model CursosModel
@{
    ViewData["title"] = "Excluir Curso";
}

<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1 class="text-light">Excluir Curso</h1>
    </div>


    <form method="post" asp-controller="Curso" asp-action="Excluir">
        <input type="hidden" asp-for=Id />
        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-danger w-50">Excluir</button>
            <a class="btn btn-primary w-50" asp-controller="Curso" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>  